<div class="product-list" *ngIf="products$ | async as products">
  <div class="product-list__item" *ngFor="let product of products">
    <img
      [src]="product.image"
      alt="{{ product.name }}"
      class="product-list__item__image"
    />
    <div class="product-list__item__info">
      <h3 class="product-list__item__name">{{ product.name }}</h3>
      <p class="product-list__item__description">{{ product.description }}</p>
      <p class="product-list__item__price">
        Price: {{ product.price | currency : "USD" : "symbol" : "1.2-2" }}
      </p>
      <button
        class="product-list__item__btn-add-cart"
        (click)="addToCart(product)"
        [disabled]="product.quantity === 0"
      >
        Add to cart
      </button>
    </div>
  </div>
</div>

<modal-minicart *ngIf="showModal" (close)="onModalClose()"></modal-minicart>
