<div class="modal-backdrop" (click)="onClose()"></div>
<div class="modal">
  <div class="cart-items">
    <div *ngFor="let item of cart" class="cart-item">
      <h3>{{ item.name }}</h3>
      <div class="buttons-group">
        <p>Price: {{ item.price }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <button
          (click)="decreaseQuantity(item)"
          [disabled]="item.quantity === 1"
        >
          -
        </button>
        <button
          (click)="increaseQuantity(item)"
          [disabled]="item.quantity >= getProductStock(item.product_id)"
        >
          +
        </button>
        <button (click)="removeFromCart(item)">Remove</button>
      </div>
    </div>
  </div>

  <div class="total-section">
    <h3>Total: {{ total }}</h3>
  </div>

  <div class="modal-footer">
    <button (click)="goToCheckout()">Proceed to checkout</button>
    <button (click)="onClose()">Close</button>
  </div>
</div>
