@import "../../../styles.scss";

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: $padding;
  right: $padding;
  z-index: 1000;
  @include flex-container($direction: column);
  width: 320px;
  max-height: 70vh;
  background-color: $white;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: $font;

  @media screen and (max-width: 768px) {
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    max-height: unset;
    border-radius: 10px;
  }

  &__cart-items {
    overflow-y: auto;
    padding: $padding;
  }

  &__cart-item {
    @include flex-container($justify: space-between, $align: center);
    gap: $padding;
    border-bottom: 1px solid $grey-dark;
    padding-bottom: $padding-small;
    margin-bottom: $padding-small;

    &--last {
      border-bottom: none;
      margin-bottom: 0;
    }

    &:not(&--last) {
      border-bottom: 1px solid $grey-dark;
      margin-bottom: $padding;
    }

    &__name {
      font-size: 16px;
      font-weight: bold;
      color: $black;
    }

    &__container {
      @include flex-container($direction: column, $justify: space-between);
      gap: 5px;
    }

    &__price,
    &__quantity {
      font-size: 14px;
      color: $black;
      margin: 0;
    }

    &__btn-decrease,
    &__btn-increase,
    &__btn-remove {
      background-color: $black-dark;
      border-radius: $border-radius-small;
      padding: 5px $padding-small;
      font-size: 14px;
      color: $white;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $black;
      }

      &:disabled {
        background-color: $black-light;
        cursor: not-allowed;
      }
    }
  }

  &__footer {
    margin-top: auto;

    &__total-section {
      @include flex-container($justify: space-between);
      border-top: 1px solid $grey-dark;
      background-color: $grey;
      padding: 20px;
      font-weight: bold;
      font-size: 16px;
    }

    &__btn-container {
      @include flex-container($justify: space-between);
      gap: $padding;
      background-color: $grey;
      padding: 0 $padding $padding;
      position: sticky;
      bottom: 0;

      &__btn {
        flex: 1;
        border: none;
        border-radius: 5px;
        padding: $padding-small;
        font-size: 14px;
        transition: background-color 0.3s ease;

        &--checkout {
          background-color: $primary;
          color: $white;

          &:hover {
            background-color: $black;
          }
        }

        &--close {
          color: $black;
          background-color: $grey;
          border: 1px solid $black;

          &:hover {
            background-color: $white;
          }
        }
      }
    }
  }
}
