<div class="modal__backdrop" (click)="onClose()"></div>

<div class="modal">
  <div class="modal__cart-items">
    <div
      *ngFor="let item of cart; let last = last"
      class="modal__cart-item"
      [ngClass]="{ 'modal__cart-item--last': last }"
    >
      <h3 class="modal__cart-item__name">{{ item.name }}</h3>
      <div class="modal__cart-item__container">
        <p class="modal__cart-item__price">
          Price: {{ item.price | currency : "USD" : "symbol" : "1.2-2" }}
        </p>
        <p class="modal__cart-item__quantity">Quantity: {{ item.quantity }}</p>
        <button
          class="modal__cart-item__btn-decrease"
          (click)="decreaseQuantity(item)"
          [disabled]="item.quantity === 1"
        >
          -
        </button>
        <button
          class="modal__cart-item__btn-increase"
          (click)="increaseQuantity(item)"
          [disabled]="item.quantity >= getProductStock(item.product_id)"
        >
          +
        </button>
        <button
          class="modal__cart-item__btn-remove"
          (click)="removeFromCart(item)"
        >
          Remove
        </button>
      </div>
    </div>
  </div>

  <div class="modal__footer">
    <div class="modal__footer__total-section">
      <h3>Total: {{ total | currency : "USD" : "symbol" : "1.2-2" }}</h3>
    </div>

    <div class="modal__footer__btn-container">
      <button
        class="modal__footer__btn-container__btn modal__footer__btn-container__btn--checkout"
        (click)="goToCheckout()"
      >
        Checkout
      </button>
      <button
        class="modal__footer__btn-container__btn modal__footer__btn-container__btn--close"
        (click)="onClose()"
      >
        Close
      </button>
    </div>
  </div>
</div>
