@import "../../../styles.scss";

.header {
  @include flex-container($justify: space-between, $align: center);
  padding-top: $padding;
  margin: $padding;
  color: $black;

  @media (max-width: 768px) {
    @include flex-container($direction: column, $align: flex-start);
  }

  &__brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__menu {
    display: flex;
    gap: 20px;

    &__item {
      transition: color 0.3s ease;

      &:hover {
        color: #ff6347;
      }
    }
  }
}
